<!DOCTYPE html>
<html>
<head>
	<title>Johannes Pawelczyk</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,400i,600|Raleway:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>
</head>
<body>
	<div class="container">
		<div id="nav-toggle">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div id="navbar">
			<h3>Navigation</h3>
			<a href="/">Startseite</a>
			<a href="/portfolio">Portfolio</a>
			<a href="/archiv">Archiv</a>
			<a href="mailto:pawelczyk.johannes@gmail.com">Kontakt</a>
		</div>
		<header>
			<a href="/"><h1><span class="light-text">Johannes</span> Pawelczyk</h1></a>
			<h3>Startseite</h3>
		</header>
		<div class="card">
			<h2>$ whoami<i class="cursor blink-text">_</i></h2>
			<p>Hallo und Willkommen! Ich bin 17 Jahre alt und studiere Informatik an der Technischen Universität München im ersten Semester.</p>
			<p>Außerhalb des Studiums beschäftige ich mich zurzeit vor allem mit Webentwicklung, Webdesign und Programmierung (Python, Java und JavaScript).</p>
		</div>
		<div class="card">
			<h2>$ cat ˜/verfügbarkeit<i class="cursor blink-text">_</i></h2>
			<p>Um die Studienzeit ideal zu nutzen sollte man meiner Meinung nach schon als Student Berufserfahrung sammeln. Daher suche ich zurzeit eine Teilzeit- bzw. Werkstudenten-Stelle im Bereich Software-Entwicklung.</p>
			<div class="button-container">
				<a class="button" href="mailto:pawelczyk.johannes@gmail.com">Kontakt</a>
			</div>
		</div>
		<div class="card">
			<h2>$ cat ˜/projekte<i class="cursor blink-text">_</i></h2>
			<div class="project">
				<p>Vor Kurzem habe ich mein erstes großes Projekt abgeschlossen: Die Entwicklung einer neuen Internetpräsenz für das Fahrradfachgeschäft SoulCycling GbR.</p>
				<a href="#">Mehr erfahren</a>
			</div>
<!-- 			<div class="project">
				<p>Ich löse ab und an Übungsaufgaben verschiedener Programmierwettbewerbe (z.B. ICPC oder USACO). Ich lade Aufgabenstellungen und meine jeweiligen Lösungen auf GitHub hoch.</p>
				<a href="https://github.com/wlanbuchse/contests" target="_blank" rel="noopener noreferrer">Zum GitHub-Repo</a>
			</div> -->
			<p>Weitere Projekte finden Sie im Archiv oder in meinem Portfolio:</p>
			<div class="button-container">
				<a href="/portfolio" class="button">Portfolio</a>
				<a href="/archiv" class="button">Archiv</a>
			</div>
		</div>
		<footer>
			<div id="contact-icons">
				<a href="https://github.com/wlanbuchse" target="_blank" rel="noopener noreferrer"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
				<a href="https://twitter.com/wlanbuchse" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
				<i class="fa fa-heart fa-lg red-text heartbeat" aria-hidden="true"></i>
				<a href="mailto:pawelczyk.johannes@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
				<a href="http://stackoverflow.com/users/5490557/j-pawelczyk" target="_blank" rel="noopener noreferrer"><i class="fa fa-stack-overflow fa-lg" aria-hidden="true"></i></a>
			</div>
			<p>&copy; 2016 Johannes Pawelczyk</p>
			<p><a href="/impressum">Impressum</a></p>
		</footer>
	</div>
</body>
</html>